// Videotar

.published-page {
  background-color: var(--vaperina-bg);
}

body.videotar {
  .published-page-content-header {
    display: none;
  }
  .published-page-content-wrapper {
    .published-page-content-body {
      > div > p {
        position: relative;
        padding: 56.25% 0 0 0;
        > iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}